<a href="https://colab.research.google.com/github/edsonbaraujo/Python/blob/master/projeto_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("olá")

olá

# Nova seção

In [ ]:
# criar uma variável string (texto)

In [ ]:
frase = "Python para análise de dados"

In [ ]:
print ("frase")

frase

In [ ]:
# count serve para contar quantas vezes a palavra dados aparece na variavel frase

In [ ]:
frase.count("dados")

1

In [ ]:
# lower serve para transformar todas as palavras em letras minusculas na variavel
frase.lower()

'python para análise de dados'

In [ ]:
# upper serve para transformar todas as palavras em letras maisculas na variavel
frase.upper()

'PYTHON PARA ANÁLISE DE DADOS'

In [ ]:
# replace serve para mudar um dado dentro da variavel
frase.replace('ANÁLISE' , 'ESTUDO')

'Python para análise de dados'

In [ ]:
frase.replace("analise" , "estudo")

'Python para análise de dados'

In [ ]:
# estrutura de dados no python
# criando uma lista chamada animais - listas aceitam letras e numéros e podem ser modificadas e usamos os colchetes para criar
animais = [1, 2, 3]

In [ ]:
animais

NameError: ignored

In [ ]:
animais

NameError: ignored

In [ ]:
print ('animais')

animais

In [ ]:
animais = [1 , 2, 3]

In [ ]:
# substituindo valores na lista animais

In [ ]:
animais[0] = 5

In [ ]:
animais

[5, 2, 3]

In [ ]:
# removendo elementos da lista

In [ ]:
animais.remove[1]

TypeError: ignored

In [ ]:
animais.remove('3')

ValueError: ignored

In [ ]:
# saber o tamanho da lista
len(animais)

3

In [ ]:
# saber o maior e menor valor da lista
max(lista)

NameError: ignored

In [ ]:
max(animais)

5

In [ ]:
min(animais)

2

In [ ]:
# adicionando apenas 1 elemento na lista
animais.append('8')

In [ ]:
animais

[5, 2, 3, '8']

In [ ]:
# adicionando mais de 1 elemento na lista
animais.extend(['cobra' , 6])

In [ ]:
animais

[5, 2, 3, '8', 'cobra', 6]

In [ ]:
# saber quantas vezes um determinado elemento aparece na lista
animais.count('cobra')

1

In [ ]:
# para oredenar listas de forma ascendente
animais.sort()

TypeError: ignored

In [ ]:
# obs não funcionou pois tenho string e numero na lista
animais.remove('cobra')

In [ ]:
animais

[2, 3, 5, '8', 6]

In [ ]:
animais.sort()

TypeError: ignored

In [ ]:
animais.remove('8')

In [ ]:
animais

[2, 3, 5, 6]

In [ ]:
animais.sort()

In [ ]:
animais

[2, 3, 5, 6]

In [ ]:
# Tulpas em python usam parenteses como sintaxe e diferente das listas, são imutáveis

In [ ]:
tp = ("banana","maça", 10,50)

In [ ]:
tp

('banana', 'maça', 10, 50)

In [ ]:
#dicionário para serem criados usamos {} e trabalham com o conceito de chave e valor

In [ ]:
dc = {'maça':20,"banana":10,'laranja':5}

In [ ]:
# atualizando valores no dicionário
dc["maça"] = 25

In [ ]:
dc

{'banana': 10, 'laranja': 5, 'maça': 25}

In [ ]:
# retornando todas as chaves no dicionário

In [ ]:
dc.keys()

dict_keys(['maça', 'banana', 'laranja'])

In [ ]:
# retornando todos os valores no dicionário

In [ ]:
dc.values()

dict_values([25, 10, 5])

In [ ]:
# verificando se existe uma chave no dicionário e caso não exista, inserir

In [ ]:
dc.setdefault('limão',43)

43

In [ ]:
dc

{'banana': 10, 'laranja': 5, 'limão': 43, 'maça': 25}

In [ ]:
#Biblioteca Pandas
# importando pandas e dando apelido pd

In [ ]:
import pandas as pd

In [ ]:
# criando uma variavel de data frame e importando um arquivo.csv

In [ ]:
df = pd.read_csv("/content/drive/My Drive/Curso de Pandas e Python DIO/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Gapminder.csv",error_bad_lines=False , sep=";")
# obs comando error_bad_lines=False serve para acertar as linhas erradas e o comando sep=";"serve para transformar o separador de colunas que estava em , para ;

In [ ]:
# visualizando as 5 priemiras linhas, aceita parametros também
df.head()

          Pais Continente   Ano  Expextativa de vida  População         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106

In [ ]:
# renomendo as colunas para português e passando um dicionário 
df = df.rename(columns={"country":"Pais","continent":"Continente","year":"Ano","lifeExp":"Expectativa de vida","pop":"População","gdpPercap":"PIB"})

In [ ]:
df.head(10)

          Pais Continente   Ano  Expextativa de vida  População         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106
5  Afghanistan       Asia  1977               38.438   14880372  786.113360
6  Afghanistan       Asia  1982               39.854   12881816  978.011439
7  Afghanistan       Asia  1987               40.822   13867957  852.395945
8  Afghanistan       Asia  1992               41.674   16317921  649.341395
9  Afghanistan       Asia  1997               41.763   22227415  635.341351

In [ ]:
# saber o total de linhas e colunas
df.shape

(3312, 6)

In [ ]:
# saber o nome das colunas
df.columns

Index(['Pais', 'Continente', 'Ano', 'Expextativa de vida', 'População', 'PIB'], dtype='object')

In [ ]:
#saber o tipo de dados
df.dtypes

Pais                    object
Continente              object
Ano                      int64
Expextativa de vida    float64
População                int64
PIB                    float64
dtype: object

In [ ]:
# saber as ultimas linhas
df.tail()

          Pais Continente   Ano  Expextativa de vida  População         PIB
3307  Zimbabwe     Africa  1987               62.351    9216418  706.157306
3308  Zimbabwe     Africa  1992               60.377   10704340  693.420786
3309  Zimbabwe     Africa  1997               46.809   11404948  792.449960
3310  Zimbabwe     Africa  2002               39.989   11926563  672.038623
3311  Zimbabwe     Africa  2007               43.487   12311143  469.709298

In [ ]:
# retorno de informações estatisticas do conjunto de dados
df.describe()

               Ano  Expextativa de vida     População            PIB
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246871  3.161489e+07   11317.115805
std      16.927294            11.768412  1.041193e+08   11369.142739
min    1950.000000            23.599000  5.941200e+04     241.165877
25%    1967.000000            58.337500  2.678572e+06    2514.625266
50%    1982.000000            69.610000  7.557218e+06    7838.505123
75%    1996.000000            73.657750  1.958522e+07   17357.879170
max    2007.000000            82.670000  1.318683e+09  113523.132900

In [ ]:
# obs count = total, mean = média, std = desvio padrão, min = valor minimo, max = valor maximo

In [ ]:
# fazer filtros nos dado para trazer todos os continentes
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [ ]:
# fazer um filtro em apenas um local e atribuir uma varaivel com o nome do local escolhido
Americas = df.loc[df["Continente"] == "Americas"]
Americas.head()

         Pais Continente   Ano  Expextativa de vida  População          PIB
48  Argentina   Americas  1952               62.485   17876956  5911.315053
49  Argentina   Americas  1957               64.399   19610538  6856.856212
50  Argentina   Americas  1962               65.142   21283783  7133.166023
51  Argentina   Americas  1967               65.634   22934225  8052.953021
52  Argentina   Americas  1972               67.065   24779799  9443.038526

In [ ]:
Americas["Continente"].unique()

array(['Americas'], dtype=object)

In [ ]:
# grupamento de dados usando groupby e nunique (faz uma contagem distinta)
df.groupby("Continente")["Pais"].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [ ]:
# para cada ano qual é a expectativa de vida média (mean)
df.groupby("Ano")["Expextativa de vida"].mean()

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283437
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921563
2005    76.718667
2006    77.887778
2007    67.868557
Name: Expextativa de vida, dtype: float64

In [ ]:
# para saber a média de total da coluna PIB
df["PIB"].mean()

11317.115804696637

In [ ]:
# para saber a soma total da coluna PIB
df["PIB"].sum()

37482287.5451553